{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

  <section class="py-5 text-center container image-center">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="{% static 'FPL_Logo.png' %}" width=400 />
        <h1 class="fw-light">Fantasy Premier League Analytics</h1>
        <p class="lead text-muted">Beat the competition with data driven insights.</p>
        <hr />
        <br />
        <h1>Mini League Race</h1>
        <br/>
        <form class="d-flex" method="POST" action="{% url 'barrace'%}">
          {% csrf_token %}
          <input class="form-control me-2" type="Search" placeholder="Enter Mini League URL" aria-label="Search" name="league_url">
          <button class="btn btn-outline-success" type="submit">Create</button>
        </form>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'football_players.jpg' %}" height=320 />
            <div class="card-body">
              <h5>Download as GIF.</h5>
              <p class="card-text"></p>
              <br />
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'pie_chart.png' %}" height=320 />
            <div class="card-body">
              <h5>Download as MP4.</h5>
              <br />
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>


{% endblock %}