{% for keys, values in player_data.items %}

{{ values.form }}
<br/>

{% endfor %}

{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

    <section class="py-5 text-center container image-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <a href="{% url 'home' %}">
                    <img src="{% static 'FPL_Logo.png' %}" width=400/>
                </a>
                <h1 class="fw-light">Fantasy Premier League Analytics</h1>
                <p class="lead text-muted">Beat the competition with data driven insights.</p>
                <hr/>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'BarChartRace.GIF' %}" height=320 width=400/>
                        <div class="card-body">
                            <h5>Mini League Bar Chart Race</h5>
                            <a href="{% url 'barrace' %}" class="btn btn-light stretched-link text-left"
                               style="text-align:left">
                                Create a racing bar chart representing the evolution of your FPL Mini League
                                throughout the course of the season. Download as .GIF or .MP4 to share with
                                friends/rivals.
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'football_players.jpg' %}" height=320 width=400/>
                        <div class="card-body">
                            <h5>Player Form</h5>
                            <a href="{% url 'analysis' %}" class="btn btn-light stretched-link text-left"
                               style="text-align:left">
                                View the current most in form players as of the last Gameweek and explore their
                                statics, including goals, assists, clean sheets, bonus points and more.
                                <br/>
                                <br/>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{% static 'pie_chart.png' %}" height=320 width=400/>
                        <div class="card-body">
                            <h5>Mini League Analysis</h5>
                            <a href="{% url 'graphs' %}" class="btn btn-light stretched-link text-left"
                               style="text-align:left">
                                View which FPL players in your league have the highest and lowest percentage
                                ownership and find where you can gain the advantage.
                                <br/>
                                <br/>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</main>


{% endblock %}