{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

    <section class="py-5 text-center container image-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <a href="{% url 'home' %}">
                    <img src="{% static 'FPL_Logo.png' %}" width=400/>
                </a>
                <h1 class="fw-light">Fantasy Premier League Analytics</h1>
                <p class="lead text-muted">Beat the competition with data driven insights.</p>
                <hr/>
                <br/>
                <h1>Player Form</h1>
                <p class="lead text-muted">The current top 100 inform FPL players.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1">

                {% for keys, values in player_data.items %}

                <div class="col">
                    <div class="card shadow-sm ">
                            <img src="{{values.photo}}" style="background-color:green; background: radial-gradient(circle, rgba(55,17,103,1) 0%, rgba(23,161,62,1) 100%);" />
                        <div class="card-body">
                            <h5>{{values.name}} - Form: {{values.form}}</h5>
                            <p> Transferred in: <span style="color:green;">+{{values.transfers_in}}</span>. Transferred out: <span style="color:red;">-{{values.transfers_out}}</span><br />
                                Cost: £{{values.cost}}. Teams selected by: {{values.selected_by}}%<br />
                                Total points: {{values.points}}. Bonus points: {{values.bp_total}}<br/>
                                Goals: {{values.goals}}. Assists: {{values.assists}}. Clean sheets: {{values.clean_sheets}}<br/>
                                News: {{values.news}}<br/>
                            </p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

</main>


{% endblock %}